<footer class="text-center py-4 mt-5">
  <div class="container">

    <div class="mb-3 fs-4">

      <a href="https://github.com/pardhualapati"
         target="_blank"
         class="me-3 text-dark">
         <i class="fab fa-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/pardhualapati"
         target="_blank"
         class="text-primary">
         <i class="fab fa-linkedin"></i>
      </a>

    </div>

    <p class="mb-0">
      © <%= new Date().getFullYear() %> Pardhu Alapati
    </p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </div>
</footer>